body {
    
}

a {

}

#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#room {
    background-color: #ddd;
    margin-bottom: 1em;
}

#messages {
    width: 100%;
    height: 300px;
    background: lightgrey;
}
